.title {
  font-size: 200%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: darkslategrey;
  text-align: center;
  color: black;
  width: 50%;
  padding: 50px;
  border: solid black;
  margin: auto;
  margin-bottom: 10px;
  display: block;
}

.me {
    margin-top: 100px;
    float: right;
    height: 800px;
    width: 200px;
  }


.sidebar {
  float: right;
  background-color: rgb(94, 109, 101);
  text-align: center;
  width: 40%;
  padding: 50px;
  border: solid black;
  margin-bottom: 30px;
  display: block;
}

img {
  margin-top: 100px;
  float: left;
  border-style: hidden;
  height: 200px;
}